*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  text-align: center;
  color: #7676d7;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-section .search-input {
    width: 300px;
    min-width: unset;
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #7676d7;
    outline: none;
    margin: 0 1rem;
    margin-top: 0;
}

.images {
  margin-top: 3rem;
  display: grid;
  grid-template-columns:  1fr;
  justify-content: center;
  align-items: center;
  grid-row-gap: 1rem;
  padding: 1rem;
}

.for-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  transition: transform 0.5s;
  object-fit: cover;
  
}

.images .image:hover {
  transform: translateY(-3px);
}

/* images section ends */

/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 480px) {
  .search-section .search-input {
    width: 400px;
  }
}
@media (min-width: 200px) {

  .images {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 580px) {
  .search-section .search-input {
    width: 500px;
  }
}

@media (min-width: 700px) {

  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1000px) {

  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1500px) {

  .images {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {

  .images {
    grid-template-columns: repeat(5, 1fr);
  }
}
